# Fictional Army - Filtering and Sorting

In [ ]:
import pandas as pd

### Step 2. Read the csv

### Step 3. Create a dataframe and assign it to a variable called army.

### Step 4. Set the 'origin' colum as the index of the dataframe

### Step 5. Print only the column veterans

### Step 6. Print the columns 'veterans' and 'deaths'

### Step 7. Print the name of all the columns.

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

### Step 10. Select every row after the fourth row and all columns

### Step 11. Select every row up to the 4th row and all columns

### Step 12. Select the 3rd column up to the 7th column

### Step 13. Select rows where df.deaths is greater than 50

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

### Step 15. Select all the regiments not named "Dragoons"

### Step 16. Select the rows called Texas and Arizona

### Step 17. Select the third cell in the row named Arizona

### Step 18. Select the third cell down in the column named deaths