In [28]:
import pandas as pd
df = pd.read_csv("data/red_recarga_acceso_publico_2021.csv", sep=";")
df = df.loc[ df["DISTRITO"].isin(["Arganzuela", "Carabanchel"])    ,  :]
df = df.loc[ df["OPERADOR"].isin(["REPSOL", "GIC"])    ,  :]

In [ ]:
df.groupby("DISTRITO")[["Nº CARGADORES"]].sum().reset_index()

      DISTRITO  Nº CARGADORES
0   Arganzuela              2
1  Carabanchel              1

In [30]:
df.groupby("OPERADOR")[["Nº CARGADORES"]].sum().reset_index()

  OPERADOR  Nº CARGADORES
0      GIC              1
1   REPSOL              2

In [31]:
df

,DISTRITO,DIRECCION,EMPLAZAMIENTO,Nº CARGADORES,OPERADOR,COORX,COORY,longitud,latidtud
0,Arganzuela,Calle Chulapos s/n,Vía pública,1,REPSOL,"438893,73","4473226,26",-3.720163,40.407410
1,Arganzuela,Ronda de Valencia 1,Vía pública,1,GIC,"440624,23","4473016,22",-3.699750,40.405643
4,Carabanchel,Avenida de la Peseta 6,Estación de servicio,1,REPSOL,"434997,82","4468934,81",-3.765636,40.368456