# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

Fijaos que es un tsv. Eso significa "Tab separated value". IMPORTANTE: El separador es "\t"

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

In [9]:
def clean_price(price):
    return float(price[1:])


chipo.loc[:, "item_price"] = chipo.loc[:, "item_price"].apply(clean_price)

In [10]:
chipo.loc[:, "unit_price"] = chipo.loc[:, "item_price"]/chipo.loc[:, "quantity"]

In [15]:
precio_maximo = chipo.loc[:, "unit_price"].max()
nombre_maximo = chipo.loc[chipo.loc[:, "unit_price"]==precio_maximo, :].iloc[0, 2]

In [25]:
mask = chipo.loc[:, "item_name"]== nombre_maximo


quantity_del_nombre_maximo = chipo.loc[mask, "quantity"]
quantity_del_nombre_maximo.sum()*precio_maximo

np.float64(368.59000000000003)

In [27]:
quantity_del_nombre_maximo.sum()

np.int64(31)

### Step Extra:

Si os fijais, la columna item_price es un string. Hay que quitar el signo del dolar y convertir a float para poder trabajar. 

Hay maneras cool de hacer esto, pero os recomiendo lo siguiente:
- haced un bucle for del df (iterrows)
- guardaros en una lista (append) el valor sin el dolar y convetido a float
- actualizad el valor de esa columna con la nueva lista

### Step 3. Name of the max valued product

In [28]:
nombre_maximo

'Steak Salad Bowl'

### Step 4. How many products cost more than $10.00?

In [31]:
sum(chipo.loc[:, "unit_price"]>10)

1034

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

### Step 5. a - How much money we earned selling our most expensive product?

Busca el producto mas caro (si hay mas de uno da igual, coge el uno de ellos). Guardate su nombre y precio.
Filtra las filas por ese producto con el nombre.
Multiplica las cantidades del resultado filtrado por el precio que guardaste.

In [32]:
quantity_del_nombre_maximo.sum()*precio_maximo

np.float64(368.59000000000003)

### Step 5. b - How much money we earned selling our cheapest product?

Lo mismo que antes pero con el mas barato.

### Step 6. Sort by the name of the item

In [33]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [35]:
quantity_del_nombre_maximo.sum()

np.int64(31)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [37]:
mask = chipo.loc[: , "item_name"] == "Veggie Salad Bowl"

chipo.loc[mask, :].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [38]:
mask = (chipo.loc[:, "item_name"] == "Canned Soda") & (chipo.loc[:, "quantity"] > 1)
chipo.loc[mask, :].shape[0]

20