# Pyspark Basic Introduction

## Instalamos pyspark

In [3]:
# pip install pyspark

## Importamos pyspark

In [11]:
import pyspark

In [12]:
from pyspark.sql import SparkSession

Leemos el archivo `test.csv`

In [14]:
import pandas as pd
type(pd.read_csv('./data/test1.csv'))

pandas.core.frame.DataFrame

### Vamos a crear una sesión.
Esto nos da acceso a la API de DataFrame y Dataset, que básicamente nos sirve para ejecutar las distintas acciones y transformaciones sobre nuestros datos.

In [18]:
spark = SparkSession.builder.appName('Practise').getOrCreate() # Inicia sesión para poder utilizar los comandos de spark

Visualizamos la sesión

In [19]:
spark

Ahora vamos a leer `test.csv` a través de Spark

In [20]:
df_pyspark = spark.read.csv('data/test1.csv')

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

Ahora vamos a leer `test.csv` a través de Spark

In [22]:
a = df_pyspark.show()

+---------+---+----------+------+
|      _c0|_c1|       _c2|   _c3|
+---------+---+----------+------+
|     Name|age|Experience|Salary|
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [23]:
type(a)

NoneType

Si nos fijamos, nos está mostrando nombres raros en las columnas y además la primera fila la componen los nombres de las columnas.

Para evitar eso, necesitamos poner unos argumentos para evitarlo

In [25]:
df_pyspark = spark.read.option('header', 'true').csv('data/test1.csv')
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [26]:
df_pyspark = spark.read.csv('data/test1.csv', header=True)
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

Vemos el tipo de objeto que es

In [27]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

Vemos la información de las columnas

In [28]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [29]:
df_pyspark.toPandas()

        Name age Experience Salary
0      Krish  31         10  30000
1  Sudhanshu  30          8  25000
2      Sunny  29          4  20000
3       Paul  24          3  20000
4     Harsha  21          1  15000
5    Shubham  23          2  18000