### Pyspark GroupBy And Aggregate Functions

#### INICIAMOS LA SESIÓN

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
spark

#### GROUPBY Y AGGREGATE

In [4]:
df_pyspark = spark.read.csv('data/test3.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [14]:
df_pyspark = df_pyspark.withColumn('Salary2', df_pyspark['Salary']*2)

GROUPBY

In [16]:
# Por nombre y suma de salarios de cada persona

df_pyspark.groupBy('Name').sum().show()

+---------+-----------+------------+
|     Name|sum(salary)|sum(Salary2)|
+---------+-----------+------------+
|Sudhanshu|      35000|       70000|
|    Sunny|      12000|       24000|
|    Krish|      19000|       38000|
|   Mahesh|       7000|       14000|
+---------+-----------+------------+

In [17]:
df_pyspark.groupBy('Name').max().show()

+---------+-----------+------------+
|     Name|max(salary)|max(Salary2)|
+---------+-----------+------------+
|Sudhanshu|      20000|       40000|
|    Sunny|      10000|       20000|
|    Krish|      10000|       20000|
|   Mahesh|       4000|        8000|
+---------+-----------+------------+

In [18]:
df_pyspark.groupBy('Name').min().show()

+---------+-----------+------------+
|     Name|min(salary)|min(Salary2)|
+---------+-----------+------------+
|Sudhanshu|       5000|       10000|
|    Sunny|       2000|        4000|
|    Krish|       4000|        8000|
|   Mahesh|       3000|        6000|
+---------+-----------+------------+

In [19]:
# Por departamentos y suma de salarios

df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+------------+
| Departments|sum(salary)|sum(Salary2)|
+------------+-----------+------------+
|         IOT|      15000|       30000|
|    Big Data|      15000|       30000|
|Data Science|      43000|       86000|
+------------+-----------+------------+

In [20]:
# Por departamento y salario medio

df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+------------+
| Departments|avg(salary)|avg(Salary2)|
+------------+-----------+------------+
|         IOT|     7500.0|     15000.0|
|    Big Data|     3750.0|      7500.0|
|Data Science|    10750.0|     21500.0|
+------------+-----------+------------+

In [21]:
# Para contar el número de empleados por departamento

df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

AGGREGATE

In [24]:
df_pyspark.agg({'Salary':'sum', "Salary2": "mean"}).show()

+-----------+------------+
|sum(Salary)|avg(Salary2)|
+-----------+------------+
|      73000|     14600.0|
+-----------+------------+

In [2]:
import twint#configuration
config = twint.Config()
config.Search = "@TheBridge_Tech"

config.Limit = 1000
# config.Since = "2022–01–01 00:00:00"
# config.Until = "2022–07–12 00:00:00"
config.Store_json = True
config.Output = "custom_out.json"#running search

In [1]:
1+1

2

In [3]:
twint.run.Search(config)

RuntimeError: This event loop is already running