In [ ]:
# pip install pymongo

Requirement already satisfied: pymongo in c:\users\ort\miniconda3\envs\sql_env\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\ort\miniconda3\envs\sql_env\lib\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [ ]:
# connection_type = 'mongodb+srv://'
# user = 'admin'
# password = 'admin'
# host = '@cluster0.xmr3d6s.mongodb.net/'
# # puerto = 'PUEDE HABER UN NUMERO DE PUERTO PERO EN ESTE CASO NO HAY'
# resto = '?retryWrites=true&w=majority'

# url = 'mongodb+srv://admin:admin@cluster0.xmr3d6s.mongodb.net/?retryWrites=true&w=majority'
# # url = f'{connection_type}+{user}+':'+{password}+{adress}+{resto}'

In [ ]:
# url = "mongodb+srv://admin:admin@cluster0.jpwo6w9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [4]:
url = "mongodb+srv://user:user@cluster0.fnaiv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [5]:
myclient = pymongo.MongoClient(url)

mydb = myclient["Cluster0"] # INSTANCIAR BASE DE DATOS

In [ ]:
mydb = myclient["Antonio"] # INSTANCIAR BASE DE DATOS

In [ ]:
cosas = mydb["cosas"] # COSAS ES UNA COLLECTION (EQUIVALENTE A TABLA EN SQL)

In [12]:
list(cosas.find())

[]

In [232]:
mydb = myclient["DataBase"]
users = mydb["users"]

In [233]:
list(users.find())

[{'_id': ObjectId('67346e12f6abfa1b11612706'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e1a0174a61ceda5b139'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e283db19d8f5ec9084b'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e2a50e0e64806e9fe23'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e80e974e8f88c642c9a'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': 'myid', 'name': 'Pepe', 'age': 25, 'city': 'Valencia'},
 {'_id': ObjectId('67346ef950e0e64806e9fe24'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346f04f6abfa1b11612707'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346f41f6abfa1b11612708'),
  'nombre': 'Juan',
  'estatura': 1.61},
 {'_id': ObjectId('67346f4f0174a61ceda5b13a'),
  'name': 'Juan',
  'estatura': 1.61},
 {'_id': ObjectId('67346f5650e0e64806e9fe25'),
  'nombre': 'Juan',
  'estatura': 1.61},
 {'_id': ObjectId('67346f71e974e8f88c642c9b'),
  'name': 'Juan',
  'estatura': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346f813db19d8f5ec9084c'),
  'nombre': 'Juan',
  'estatura': 1.74},
 {'_id': ObjectId('67347068f6abfa1b11612709'),
  'nombre': 'Felipe',
  'estatura': 1.9},
 {'_id': ObjectId('67347068f6abfa1b1161270a'),
  'nombre': 'Anastasio',
  'estatura': 1.53},
 {'_id': ObjectId('67347068f6abfa1b1161270b'),
  'nombre': 'Eugenio',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734708b0174a61ceda5b13b'),
  'nombre': 'Eugenio',
  'estatura': 1.53,
  'height': 1.1},
 {'_id': ObjectId('673470c03db19d8f5ec9084d'),
  'nombre': 'Carlota',
  'estatura': 1.7},
 {'_id': ObjectId('673470c03db19d8f5ec9084e'),
  'nombre': 'Pedro',
  'estatura': 1.2},
 {'_id': ObjectId('6734710c50e0e64806e9fe26'),
  'nombre': 'Antonio',
  'estatura': 1.89},
 {'_id': ObjectId('6734710c50e0e64806e9fe27'),
  'nombre': 'Juan Carlos',
  'estatura': 0.5},
 {'_id': ObjectId('6734710c50e0e64806e9fe28'),
  'nombre': 'Gertruidis',
  'estatura': 1.7},
 {'_id': ObjectId('673471170174a61ceda5b13c'),
  'nombre': 'Ricky',
  'estatura': 1.53,
  'height': 1.1},
 {'_id': ObjectId('67347143f6abfa1b1161270c'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('67347143f6abfa1b1161270d'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('67347143f6abfa1b1161270e'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734718be974e8f88c642c9c'),
  'name': 'Carlos',
  'estatura': 1.75},
 {'_id': ObjectId('6734718be974e8f88c642c9d'), 'name': 'Pablo', 'peso': 75},
 {'_id': ObjectId('6734718be974e8f88c642c9e'),
  'name': 'Rayi',
  'ciudad': 'Madrid'},
 {'_id': ObjectId('673471e80174a61ceda5b13d'),
  'nombre': 'Paula',
  'estatura': 2.0},
 {'_id': ObjectId('673471e80174a61ceda5b13e'),
  'nombre': 'Andres',
  'estatura': 1.53},
 {'_id': ObjectId('673471e80174a61ceda5b13f'),
  'nombre': 'Ricky',
  'height': 1.1},
 {'_id': ObjectId('67347220f6abfa1b1161270f'), 'nombre': 'Fulgencio'},
 {'_id': ObjectId('67347254f6abfa1b11612710'),
  'nombre': 'Fulgencio',
  'estatura': 'alto'}]

In [27]:
user = {"name": "Pepe", "age": 25, "city": "Valencia"}

In [28]:
users.insert_one(user)

InsertOneResult(ObjectId('67346f04f6abfa1b11612707'), acknowledged=True)

In [29]:
list(users.find())

[{'_id': ObjectId('67346e12f6abfa1b11612706'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e1a0174a61ceda5b139'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e283db19d8f5ec9084b'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e2a50e0e64806e9fe23'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e80e974e8f88c642c9a'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': 'myid', 'name': 'Pepe', 'age': 25, 'city': 'Valencia'},
 {'_id': ObjectId('67346ef950e0e64806e9fe24'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346f04f6abfa1b11612707'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'}]

In [31]:
user = {"nombre": "Juan", "estatura": 1.61}
users.insert_one(user)

InsertOneResult(ObjectId('67346f41f6abfa1b11612708'), acknowledged=True)

In [34]:
list(users.find())

[{'_id': ObjectId('67346e12f6abfa1b11612706'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e1a0174a61ceda5b139'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e283db19d8f5ec9084b'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e2a50e0e64806e9fe23'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346e80e974e8f88c642c9a'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': 'myid', 'name': 'Pepe', 'age': 25, 'city': 'Valencia'},
 {'_id': ObjectId('67346ef950e0e64806e9fe24'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346f04f6abfa1b11612707'),
  'name': 'Pepe',
  'age': 25,
  'city': 'Valencia'},
 {'_id': ObjectId('67346f41f6abfa1b11612708'),
  'nombre': 'Juan',
  'estatura': 1.61},
 {'_id': ObjectId('67346f4f0174a61ceda5b13a'),
  'name': 'Juan',
  'estatura': 1.61}]

In [307]:
list_users = [{"nombre": "gfhkjldhkjbkdjbk", "estatura": "holiiiii"},
              {"nombre": "tupro", "estatura": 4.00, "jamon":"york"}, 
              {"nombre": "tupras", "height": 1.10, "hola": "que tal"}]

In [308]:
users.insert_many(list_users)

InsertManyResult([ObjectId('673479fff6abfa1b11612727'), ObjectId('673479fff6abfa1b11612728'), ObjectId('673479fff6abfa1b11612729')], acknowledged=True)

In [ ]:
users = mydb["users"]

In [249]:
user = {}

In [250]:
users.insert_one(user)

InsertOneResult(ObjectId('673473c0f6abfa1b11612711'), acknowledged=True)

In [ ]:
# users.delete_many({})

DeleteResult({'n': 10, 'electionId': ObjectId('7fffffff000000000000001d'), 'opTime': {'ts': Timestamp(1731490643, 7), 't': 29}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1731490643, 16), 'signature': {'hash': b'\xe3\xfe\xad\x108\xe9ml\x95v\xfd8\x81\xcb`Y\xd9w\xdaX', 'keyId': 7384862610937610243}}, 'operationTime': Timestamp(1731490643, 7)}, acknowledged=True)

In [252]:
list(users.find()) # SELECT * FROM users

[{'_id': ObjectId('673473763db19d8f5ec9084f'),
  'nombre': 'JL',
  'estatura': 1.94},
 {'_id': ObjectId('67347379ddfafd0c6ab59fc2'),
  'nombre': 'Carlosssssssss',
  'estatura': 1.8},
 {'_id': ObjectId('6734737a240f4b3fb8356343'), 'name': 'cansino'},
 {'_id': ObjectId('6734737a240f4b3fb8356344'), 'name': 'juan', 'age': 101},
 {'_id': ObjectId('6734737b6f247df8a9051749'), 'name': 'Spiderman'},
 {'_id': ObjectId('6734734a44d7e0cda69ca771'),
  'name': 'Pitufin',
  'estatura': 0.9},
 {'_id': ObjectId('6734734a44d7e0cda69ca772'),
  'name': 'Tupapa',
  'height': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b140'),
  'nombre': 'Paula',
  'estatura': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b141'),
  'nombre': 'Andres',
  'estatura': 1.53},
 {'_id': ObjectId('673473840174a61ceda5b142'),
  'nombre': 'Ricky',
  'height': 1.1},
 {'_id': ObjectId('6734738454e68b0cee5eb774'),
  'nombre': 'El caballo blanco de santiago',
  'estatura': 3.47,
  'color': 'Blanco'},
 {'_id': ObjectId('6734738ce974e8f88c642c9f'),
  'name': 'coche',
  'estatura': 1.1},
 {'_id': ObjectId('6734738ce974e8f88c642ca0'),
  'name': 'Jorge Luis',
  'peso': 62},
 {'_id': ObjectId('673473c0f6abfa1b11612711')}]

FIND:

SELECT <LAS COLUMNAS QUE TU QUIERAS> -> projection
FROM <LA TABLA> -> collection
WHERE <LOS FILTROS> -> filter

In [257]:
# users.find??

In [314]:
proyeccion = {}
filtro = {}


list(users.find(filter=filtro, projection=proyeccion))

[{'_id': ObjectId('673473763db19d8f5ec9084f'),
  'nombre': 'JL',
  'estatura': 1.94},
 {'_id': ObjectId('67347379ddfafd0c6ab59fc2'),
  'nombre': 'Carlosssssssss',
  'estatura': 1.8},
 {'_id': ObjectId('6734737a240f4b3fb8356343'), 'name': 'cansino'},
 {'_id': ObjectId('6734737a240f4b3fb8356344'), 'name': 'juan', 'age': 101},
 {'_id': ObjectId('6734737b6f247df8a9051749'), 'name': 'Spiderman'},
 {'_id': ObjectId('6734734a44d7e0cda69ca771'),
  'name': 'Pitufin',
  'estatura': 0.9},
 {'_id': ObjectId('6734734a44d7e0cda69ca772'),
  'name': 'Tupapa',
  'height': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b140'),
  'nombre': 'Paula',
  'estatura': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b141'),
  'nombre': 'Andres',
  'estatura': 1.53},
 {'_id': ObjectId('673473840174a61ceda5b142'),
  'nombre': 'Ricky',
  'height': 1.1},
 {'_id': ObjectId('6734738454e68b0cee5eb774'),
  'nombre': 'El caballo blanco de santiago',
  'estatura': 3.47,
  'color': 'Blanco'},
 {'_id': ObjectId('6734738ce974e8f88c642c9f'),
  'name': 'coche',
  'estatura': 1.1},
 {'_id': ObjectId('6734738ce974e8f88c642ca0'),
  'name': 'Jorge Luis',
  'peso': 62},
 {'_id': ObjectId('673473c0f6abfa1b11612711')},
 {'_id': ObjectId('673475a7240f4b3fb8356345'), 'name': 'cansino'},
 {'_id': ObjectId('673475a7240f4b3fb8356346'), 'name': 'juan', 'age': 101},
 {'_id': ObjectId('673475b4f6abfa1b11612712'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('673475b4f6abfa1b11612713'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('673475b4f6abfa1b11612714'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673475b7f6abfa1b11612715'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('673475b7f6abfa1b11612716'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('673475b7f6abfa1b11612717'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734762dddfafd0c6ab59fc3'),
  'nombre': 'pandastico',
  'estatura': 1.8},
 {'_id': ObjectId('6734765af6abfa1b11612718'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('6734765af6abfa1b11612719'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('6734765af6abfa1b1161271a'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734765cf6abfa1b1161271b'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('6734765cf6abfa1b1161271c'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('6734765cf6abfa1b1161271d'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734766af6abfa1b1161271e'),
  'nombre': 'tupri',
  'estatura': 1.8},
 {'_id': ObjectId('6734766af6abfa1b1161271f'),
  'nombre': 'tupro',
  'estatura': 2.0},
 {'_id': ObjectId('6734766af6abfa1b11612720'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734767cf6abfa1b11612721'),
  'nombre': 'tupri',
  'estatura': 3.0},
 {'_id': ObjectId('6734767cf6abfa1b11612722'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('6734767cf6abfa1b11612723'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673479f8f6abfa1b11612724'),
  'nombre': 'tupri',
  'estatura': 'holiiiii'},
 {'_id': ObjectId('673479f8f6abfa1b11612725'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479f8f6abfa1b11612726'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673479fff6abfa1b11612727'),
  'nombre': 'gfhkjldhkjbkdjbk',
  'estatura': 'holiiiii'},
 {'_id': ObjectId('673479fff6abfa1b11612728'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479fff6abfa1b11612729'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'}]

In [291]:
{"$or":  [{"nombre": "tupras"}, {"nombre": "Ricky"}]}

# {"$and": []}

list(users.find(filter={"$or":  [{"nombre": "tupras"}, {"nombre": "Ricky"}]}, projection = {}))

[{'_id': ObjectId('673473840174a61ceda5b142'),
  'nombre': 'Ricky',
  'height': 1.1},
 {'_id': ObjectId('673475b4f6abfa1b11612714'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673475b7f6abfa1b11612717'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734765af6abfa1b1161271a'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734765cf6abfa1b1161271d'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734766af6abfa1b11612720'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734767cf6abfa1b11612723'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'}]

In [309]:
filtro = {"estatura": {"$gte":  2}, "nombre": "tupri"} 
proyeccion = {}

list(users.find(filtro, proyeccion))

[{'_id': ObjectId('6734767cf6abfa1b11612721'),
  'nombre': 'tupri',
  'estatura': 3.0}]

In [ ]:
proyeccion = {}




filtro = {"$or":   [{"estatura": {"$gt": 3}}, {"estatura": {"$lt": 1}}], 
          
           "nombre": "tupro"
          
          } 


list(users.find(filter=filtro, projection=proyeccion))

[{'_id': ObjectId('6734767cf6abfa1b11612722'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479f8f6abfa1b11612725'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479fff6abfa1b11612728'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'}]

In [334]:
user = {"nombre": "antonio" ,"hobbies": ["pesca", "baile", "danza"]}
users.insert_one(user)

InsertOneResult(ObjectId('67347c99f6abfa1b1161272b'), acknowledged=True)

In [335]:
list(users.find())

[{'_id': ObjectId('673473763db19d8f5ec9084f'),
  'nombre': 'JL',
  'estatura': 1.94},
 {'_id': ObjectId('67347379ddfafd0c6ab59fc2'),
  'nombre': 'Carlosssssssss',
  'estatura': 1.8},
 {'_id': ObjectId('6734737a240f4b3fb8356343'), 'name': 'cansino'},
 {'_id': ObjectId('6734737a240f4b3fb8356344'), 'name': 'juan', 'age': 101},
 {'_id': ObjectId('6734737b6f247df8a9051749'), 'name': 'Spiderman'},
 {'_id': ObjectId('6734734a44d7e0cda69ca771'),
  'name': 'Pitufin',
  'estatura': 0.9},
 {'_id': ObjectId('6734734a44d7e0cda69ca772'),
  'name': 'Tupapa',
  'height': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b140'),
  'nombre': 'Paula',
  'estatura': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b141'),
  'nombre': 'Andres',
  'estatura': 1.53},
 {'_id': ObjectId('673473840174a61ceda5b142'),
  'nombre': 'Ricky',
  'height': 1.1},
 {'_id': ObjectId('6734738454e68b0cee5eb774'),
  'nombre': 'El caballo blanco de santiago',
  'estatura': 3.47,
  'color': 'Blanco'},
 {'_id': ObjectId('6734738ce974e8f88c642c9f'),
  'name': 'coche',
  'estatura': 1.1},
 {'_id': ObjectId('6734738ce974e8f88c642ca0'),
  'name': 'Jorge Luis',
  'peso': 62},
 {'_id': ObjectId('673473c0f6abfa1b11612711')},
 {'_id': ObjectId('673475a7240f4b3fb8356345'), 'name': 'cansino'},
 {'_id': ObjectId('673475a7240f4b3fb8356346'), 'name': 'juan', 'age': 101},
 {'_id': ObjectId('673475b4f6abfa1b11612712'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('673475b4f6abfa1b11612713'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('673475b4f6abfa1b11612714'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673475b7f6abfa1b11612715'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('673475b7f6abfa1b11612716'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('673475b7f6abfa1b11612717'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734762dddfafd0c6ab59fc3'),
  'nombre': 'pandastico',
  'estatura': 1.8},
 {'_id': ObjectId('6734765af6abfa1b11612718'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('6734765af6abfa1b11612719'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('6734765af6abfa1b1161271a'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734765cf6abfa1b1161271b'),
  'nombre': 'tupri',
  'estatura': 1.9},
 {'_id': ObjectId('6734765cf6abfa1b1161271c'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('6734765cf6abfa1b1161271d'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734766af6abfa1b1161271e'),
  'nombre': 'tupri',
  'estatura': 1.8},
 {'_id': ObjectId('6734766af6abfa1b1161271f'),
  'nombre': 'tupro',
  'estatura': 2.0},
 {'_id': ObjectId('6734766af6abfa1b11612720'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734767cf6abfa1b11612721'),
  'nombre': 'tupri',
  'estatura': 3.0},
 {'_id': ObjectId('6734767cf6abfa1b11612722'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('6734767cf6abfa1b11612723'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673479f8f6abfa1b11612724'),
  'nombre': 'tupri',
  'estatura': 'holiiiii'},
 {'_id': ObjectId('673479f8f6abfa1b11612725'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479f8f6abfa1b11612726'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673479fff6abfa1b11612727'),
  'nombre': 'gfhkjldhkjbkdjbk',
  'estatura': 'holiiiii'},
 {'_id': ObjectId('673479fff6abfa1b11612728'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479fff6abfa1b11612729'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('67347c5ef6abfa1b1161272a'),
  'nombre': 'antonio',
  'hobbies': ['pesca', 'baile']},
 {'_id': ObjectId('67347c99f6abfa1b1161272b'),
  'nombre': 'antonio',
  'hobbies': ['pesca', 'baile', 'danza']}]

In [ ]:
filtro = {"nombre": {"$not": {"$eq":"tupri", }}}
proyeccion = {}

list(users.find(filtro, proyeccion))

[{'_id': ObjectId('673473763db19d8f5ec9084f'),
  'nombre': 'JL',
  'estatura': 1.94},
 {'_id': ObjectId('67347379ddfafd0c6ab59fc2'),
  'nombre': 'Carlosssssssss',
  'estatura': 1.8},
 {'_id': ObjectId('6734737a240f4b3fb8356343'), 'name': 'cansino'},
 {'_id': ObjectId('6734737a240f4b3fb8356344'), 'name': 'juan', 'age': 101},
 {'_id': ObjectId('6734737b6f247df8a9051749'), 'name': 'Spiderman'},
 {'_id': ObjectId('6734734a44d7e0cda69ca771'),
  'name': 'Pitufin',
  'estatura': 0.9},
 {'_id': ObjectId('6734734a44d7e0cda69ca772'),
  'name': 'Tupapa',
  'height': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b140'),
  'nombre': 'Paula',
  'estatura': 2.0},
 {'_id': ObjectId('673473840174a61ceda5b141'),
  'nombre': 'Andres',
  'estatura': 1.53},
 {'_id': ObjectId('673473840174a61ceda5b142'),
  'nombre': 'Ricky',
  'height': 1.1},
 {'_id': ObjectId('6734738454e68b0cee5eb774'),
  'nombre': 'El caballo blanco de santiago',
  'estatura': 3.47,
  'color': 'Blanco'},
 {'_id': ObjectId('6734738ce974e8f88c642c9f'),
  'name': 'coche',
  'estatura': 1.1},
 {'_id': ObjectId('6734738ce974e8f88c642ca0'),
  'name': 'Jorge Luis',
  'peso': 62},
 {'_id': ObjectId('673473c0f6abfa1b11612711')},
 {'_id': ObjectId('673475a7240f4b3fb8356345'), 'name': 'cansino'},
 {'_id': ObjectId('673475a7240f4b3fb8356346'), 'name': 'juan', 'age': 101},
 {'_id': ObjectId('673475b4f6abfa1b11612713'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('673475b4f6abfa1b11612714'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673475b7f6abfa1b11612716'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('673475b7f6abfa1b11612717'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734762dddfafd0c6ab59fc3'),
  'nombre': 'pandastico',
  'estatura': 1.8},
 {'_id': ObjectId('6734765af6abfa1b11612719'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('6734765af6abfa1b1161271a'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734765cf6abfa1b1161271c'),
  'nombre': 'tupro',
  'estatura': 1.53},
 {'_id': ObjectId('6734765cf6abfa1b1161271d'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734766af6abfa1b1161271f'),
  'nombre': 'tupro',
  'estatura': 2.0},
 {'_id': ObjectId('6734766af6abfa1b11612720'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('6734767cf6abfa1b11612722'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('6734767cf6abfa1b11612723'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673479f8f6abfa1b11612725'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479f8f6abfa1b11612726'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('673479fff6abfa1b11612727'),
  'nombre': 'gfhkjldhkjbkdjbk',
  'estatura': 'holiiiii'},
 {'_id': ObjectId('673479fff6abfa1b11612728'),
  'nombre': 'tupro',
  'estatura': 4.0,
  'jamon': 'york'},
 {'_id': ObjectId('673479fff6abfa1b11612729'),
  'nombre': 'tupras',
  'height': 1.1,
  'hola': 'que tal'},
 {'_id': ObjectId('67347c5ef6abfa1b1161272a'),
  'nombre': 'antonio',
  'hobbies': ['pesca', 'baile']},
 {'_id': ObjectId('67347c99f6abfa1b1161272b'),
  'nombre': 'antonio',
  'hobbies': ['pesca', 'baile', 'danza']}]

### CLEAN SLATE

In [349]:
myclient

MongoClient(host=['cluster0-shard-00-00.fnaiv.mongodb.net:27017', 'cluster0-shard-00-01.fnaiv.mongodb.net:27017', 'cluster0-shard-00-02.fnaiv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-13bmbg-shard-0', tls=True)

In [351]:
users_db = myclient["users_db"]

In [353]:
users_col = users_db["users_col"]

In [368]:
user = {"name": "Juan", "age": 25, "city": "New york"}
users_col.delete_many({})
users_col.insert_one(user)

InsertOneResult(ObjectId('67348a9cf6abfa1b11612733'), acknowledged=True)

In [369]:
list(users_col.find())

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'}]

In [421]:
users_list = [{"name": "Bob", "age": 25, "city": "New york"},
              {"name": "Charly", "age": 26, "city": "Toronto", "height": 1.17},
              {"name": "Tim", "age": 2000, "city": "Nagasaki", "height": 2.00}]
users_col.insert_many(users_list)

InsertManyResult([ObjectId('673491d7f6abfa1b11612739'), ObjectId('673491d7f6abfa1b1161273a'), ObjectId('673491d7f6abfa1b1161273b')], acknowledged=True)

In [371]:
list(users_col.find())

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612735'),
  'name': 'Charly',
  'age': 26,
  'city': 'Toronto'},
 {'_id': ObjectId('67348a9cf6abfa1b11612736'),
  'name': 'Tim',
  'age': 2000,
  'city': 'Nagasaki'}]

In [409]:
mixed_user = {"name": "Leo", 
              "age": 24, 
              "city": "Boston", 
              "hobbies": ["reading"],
              "scores": [95, 87, 32]}
users_col.insert_one(mixed_user)

InsertOneResult(ObjectId('67348fa9f6abfa1b11612738'), acknowledged=True)

In [373]:
list(users_col.find())

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612735'),
  'name': 'Charly',
  'age': 26,
  'city': 'Toronto'},
 {'_id': ObjectId('67348a9cf6abfa1b11612736'),
  'name': 'Tim',
  'age': 2000,
  'city': 'Nagasaki'},
 {'_id': ObjectId('67348a9cf6abfa1b11612737'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading', 'traveling', 'coding'],
  'scores': [95, 87, 32]}]

In [393]:
for cosas in users_col.find():
    print(cosas)

{'_id': ObjectId('67348a9cf6abfa1b11612733'), 'name': 'Juan', 'age': 25, 'city': 'New york'}
{'_id': ObjectId('67348a9cf6abfa1b11612734'), 'name': 'Bob', 'age': 25, 'city': 'New york'}
{'_id': ObjectId('67348a9cf6abfa1b11612735'), 'name': 'Charly', 'age': 26, 'city': 'Toronto'}
{'_id': ObjectId('67348a9cf6abfa1b11612736'), 'name': 'Tim', 'age': 2000, 'city': 'Nagasaki'}
{'_id': ObjectId('67348a9cf6abfa1b11612737'), 'name': 'Leo', 'age': 24, 'city': 'Boston', 'hobbies': ['reading', 'traveling', 'coding'], 'scores': [95, 87, 32]}
{'_id': ObjectId('67348abaddfafd0c6ab59fce'), 'name': 'Juan', 'age': 25, 'city': 'New york', 'hobbies': [], 'scores': []}

In [382]:
filtro = {"city": "New york", "name": "Juan"}
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348abaddfafd0c6ab59fce'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york',
  'hobbies': [],
  'scores': []}]

In [383]:
filtro = {"$or": [{"city": "New york"}, {"name": "Juan"}]}
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348abaddfafd0c6ab59fce'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york',
  'hobbies': [],
  'scores': []}]

In [387]:
filtro = {"age": {"$gte": 25}, "city": "Toronto"}
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612735'),
  'name': 'Charly',
  'age': 26,
  'city': 'Toronto'}]

In [390]:
filtro = { "city":    {"$in": ["Toronto", "New york"]}   }
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612735'),
  'name': 'Charly',
  'age': 26,
  'city': 'Toronto'},
 {'_id': ObjectId('67348abaddfafd0c6ab59fce'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york',
  'hobbies': [],
  'scores': []}]

In [391]:
filtro = { "city":    {"$nin": ["Toronto", "New york"]}   }
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612736'),
  'name': 'Tim',
  'age': 2000,
  'city': 'Nagasaki'},
 {'_id': ObjectId('67348a9cf6abfa1b11612737'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading', 'traveling', 'coding'],
  'scores': [95, 87, 32]}]

In [392]:
filtro = { "city":    {"$regex":  "[Nn]ew [Yy]ork" }   }
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348abaddfafd0c6ab59fce'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york',
  'hobbies': [],
  'scores': []}]

In [ ]:
filtro = { "name":    {"$regex":  "o" }   } # todos los nombres que contengan la o
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612737'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading', 'traveling', 'coding'],
  'scores': [95, 87, 32]}]

In [398]:
filtro = { "name":    {"$regex":  "^B" }   } # todos los nombres que empiecen por B
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348e33ddfafd0c6ab59fd1'),
  'name': 'Bandalio',
  'age': 25,
  'city': 'New york',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]}]

In [419]:
for cosas in users_col.find():
    print(cosas)

{'_id': ObjectId('67348a9cf6abfa1b11612733'), 'name': 'Juan', 'age': 25, 'city': 'New york'}
{'_id': ObjectId('67348a9cf6abfa1b11612734'), 'name': 'Bob', 'age': 25, 'city': 'New york'}
{'_id': ObjectId('67348a9cf6abfa1b11612735'), 'name': 'Charly', 'age': 26, 'city': 'Toronto'}
{'_id': ObjectId('67348a9cf6abfa1b11612736'), 'name': 'Tim', 'age': 2000, 'city': 'Nagasaki'}
{'_id': ObjectId('67348a9cf6abfa1b11612737'), 'name': 'Leo', 'age': 24, 'city': 'Boston', 'hobbies': ['reading', 'traveling', 'coding'], 'scores': [95, 87, 32]}
{'_id': ObjectId('67348abaddfafd0c6ab59fce'), 'name': 'Juan', 'age': 25, 'city': 'New york', 'hobbies': [], 'scores': []}
{'_id': ObjectId('67348e00ddfafd0c6ab59fcf'), 'name': 'Sandalio', 'age': 25, 'city': 'New york', 'hobbies': ['respirar', 'andar', 'ver'], 'scores': [10, 10, 12]}
{'_id': ObjectId('67348e14ddfafd0c6ab59fd0'), 'name': 'Oandalio', 'age': 25, 'city': 'New york', 'hobbies': ['respirar', 'andar', 'ver'], 'scores': [10, 10, 12]}
{'_id': ObjectId('67348e33ddfafd0c6ab59fd1'), 'name': 'Bandalio', 'age': 25, 'city': 'New york', 'hobbies': ['respirar', 'andar', 'ver'], 'scores': [10, 10, 12]}
{'_id': ObjectId('67348fa9f6abfa1b11612738'), 'name': 'Leo', 'age': 24, 'city': 'Boston', 'hobbies': ['reading'], 'scores': [95, 87, 32]}

In [414]:
filtro = { "hobbies": {"$all": ["reading", "traveling", "coding", "sumar"]}}
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[]

In [415]:
filtro = { "hobbies": {"$size": 3}}
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612737'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading', 'traveling', 'coding'],
  'scores': [95, 87, 32]},
 {'_id': ObjectId('67348e00ddfafd0c6ab59fcf'),
  'name': 'Sandalio',
  'age': 25,
  'city': 'New york',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348e14ddfafd0c6ab59fd0'),
  'name': 'Oandalio',
  'age': 25,
  'city': 'New york',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348e33ddfafd0c6ab59fd1'),
  'name': 'Bandalio',
  'age': 25,
  'city': 'New york',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]}]

In [418]:
filtro = { "scores": {"$lt": 90, "$gt": 70}}
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612737'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading', 'traveling', 'coding'],
  'scores': [95, 87, 32]},
 {'_id': ObjectId('67348fa9f6abfa1b11612738'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading'],
  'scores': [95, 87, 32]}]

In [436]:
if "cdfvbnm,.":
    print("hola")

hola

In [437]:
filtro = { "height": {"$exists": False}, "name": "Charly"}
proyeccion = {}

list(users_col.find(filtro, proyeccion))

[{'_id': ObjectId('67348a9cf6abfa1b11612735'),
  'name': 'Charly',
  'age': 26,
  'city': 'Toronto'}]

In [ ]:
agregados = [
                {"$group":  
                 
                 {"_id": "$city", "total": {"$avg": "$age"}}
                 
                 }


] # media de edad por ciudad

list(users_col.aggregate(agregados))

[{'_id': 'Toronto', 'total': 26.0},
 {'_id': 'New york', 'total': 25.0},
 {'_id': 'Boston', 'total': 24.0},
 {'_id': 'Nagasaki', 'total': 2000.0}]

In [447]:
# MODIFICAR

In [449]:
list(users_col.find())

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('67348a9cf6abfa1b11612735'),
  'name': 'Charly',
  'age': 26,
  'city': 'Toronto'},
 {'_id': ObjectId('67348a9cf6abfa1b11612736'),
  'name': 'Tim',
  'age': 2000,
  'city': 'Nagasaki'},
 {'_id': ObjectId('67348a9cf6abfa1b11612737'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading', 'traveling', 'coding'],
  'scores': [95, 87, 32]},
 {'_id': ObjectId('67348abaddfafd0c6ab59fce'),
  'name': 'Juan',
  'age': 25,
  'city': 'New york',
  'hobbies': [],
  'scores': []},
 {'_id': ObjectId('67348e00ddfafd0c6ab59fcf'),
  'name': 'Sandalio',
  'age': 25,
  'city': 'New york',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348e14ddfafd0c6ab59fd0'),
  'name': 'Oandalio',
  'age': 25,
  'city': 'New york',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348e33ddfafd0c6ab59fd1'),
  'name': 'Bandalio',
  'age': 25,
  'city': 'New york',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348fa9f6abfa1b11612738'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading'],
  'scores': [95, 87, 32]},
 {'_id': ObjectId('673491d7f6abfa1b11612739'),
  'name': 'Bob',
  'age': 25,
  'city': 'New york'},
 {'_id': ObjectId('673491d7f6abfa1b1161273a'),
  'name': 'Charly',
  'age': 26,
  'city': 'Toronto',
  'height': 1.17},
 {'_id': ObjectId('673491d7f6abfa1b1161273b'),
  'name': 'Tim',
  'age': 2000,
  'city': 'Nagasaki',
  'height': 2.0}]

In [451]:
filtro = { "age": 2000}

users_col.delete_many(filtro)

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff000000000000001d'), 'opTime': {'ts': Timestamp(1731499354, 5), 't': 29}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1731499354, 5), 'signature': {'hash': b'p\t.\xf6\xbd\xe2\x80i\x89V\xe7\x80\xd6\xc0\xd1\x88\xaaW!H', 'keyId': 7384862610937610243}}, 'operationTime': Timestamp(1731499354, 5)}, acknowledged=True)

In [455]:
filtro = {"city": "Toronto" }
proyeccion = {}

users_col.delete_many(filtro)

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff000000000000001d'), 'opTime': {'ts': Timestamp(1731499400, 1), 't': 29}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1731499400, 1), 'signature': {'hash': b'e+[w\x97ww\xd5!.\x14,\xcc\x16\xda\x91\xa2$\x8e\xb9', 'keyId': 7384862610937610243}}, 'operationTime': Timestamp(1731499400, 1)}, acknowledged=True)

In [459]:
update_search = {"city": "New york"}
new_value = {"$set": {"city": "Torontontero"}}

users_col.update_many(update_search, new_value)

UpdateResult({'n': 7, 'electionId': ObjectId('7fffffff000000000000001d'), 'opTime': {'ts': Timestamp(1731499575, 12), 't': 29}, 'nModified': 7, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1731499575, 12), 'signature': {'hash': b'\x00\x0e\x80\xcd:\x85\xb6\xf9;Q\x10\xbd\xd3\x03\x9b[\x003>\x85', 'keyId': 7384862610937610243}}, 'operationTime': Timestamp(1731499575, 12), 'updatedExisting': True}, acknowledged=True)

In [460]:
list(users_col.find())

[{'_id': ObjectId('67348a9cf6abfa1b11612733'),
  'name': 'Juan',
  'age': 25,
  'city': 'Torontontero'},
 {'_id': ObjectId('67348a9cf6abfa1b11612734'),
  'name': 'Bob',
  'age': 25,
  'city': 'Torontontero'},
 {'_id': ObjectId('67348a9cf6abfa1b11612737'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading', 'traveling', 'coding'],
  'scores': [95, 87, 32]},
 {'_id': ObjectId('67348abaddfafd0c6ab59fce'),
  'name': 'Juan',
  'age': 25,
  'city': 'Torontontero',
  'hobbies': [],
  'scores': []},
 {'_id': ObjectId('67348e00ddfafd0c6ab59fcf'),
  'name': 'Sandalio',
  'age': 25,
  'city': 'Torontontero',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348e14ddfafd0c6ab59fd0'),
  'name': 'Oandalio',
  'age': 25,
  'city': 'Torontontero',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348e33ddfafd0c6ab59fd1'),
  'name': 'Bandalio',
  'age': 25,
  'city': 'Torontontero',
  'hobbies': ['respirar', 'andar', 'ver'],
  'scores': [10, 10, 12]},
 {'_id': ObjectId('67348fa9f6abfa1b11612738'),
  'name': 'Leo',
  'age': 24,
  'city': 'Boston',
  'hobbies': ['reading'],
  'scores': [95, 87, 32]},
 {'_id': ObjectId('673491d7f6abfa1b11612739'),
  'name': 'Bob',
  'age': 25,
  'city': 'Torontontero'}]

In [471]:
filtro = { "city":    {"$regex":  "Toronto" }   } # SELECT name, city FROM users_col WHERE city LIKE "Toronto"
proyeccion = {"name": 1, "city": 1, "_id": 0}

list(users_col.find(filtro, proyeccion))

[{'name': 'Juan', 'city': 'Torontontero'},
 {'name': 'Bob', 'city': 'Torontontero'},
 {'name': 'Juan', 'city': 'Torontontero'},
 {'name': 'Sandalio', 'city': 'Torontontero'},
 {'name': 'Oandalio', 'city': 'Torontontero'},
 {'name': 'Bandalio', 'city': 'Torontontero'},
 {'name': 'Bob', 'city': 'Torontontero'}]

In [8]:
# Crear nueva tabla
test_col = mydb['test_col']

In [9]:
test_col.insert_one({'name':'pepe'})

In [11]:
list(test_col.find()) # ESTO ES UNA QUERY, ESTO ES IGUAL A [SELECT * FROM test_col] EN SQL

[{'_id': ObjectId('64f5981524ccea3f19243c33'), 'name': 'pepe'}]

In [13]:
mydb.list_collection_names()

['test_col']

In [55]:
test_col.insert_one({'name':'toni'})
test_col.insert_one({'name':'pepe', 'age':{'amigos': 20,'noamigos': 18}})

In [56]:
list(test_col.find())

[{'_id': ObjectId('64f5981524ccea3f19243c33'), 'name': 'pepe'},
 {'_id': ObjectId('64f598f624ccea3f19243c34'), 'name': 'toni'},
 {'_id': ObjectId('64f5999724ccea3f19243c35'), 'name': 'alex'},
 {'_id': ObjectId('64f5999724ccea3f19243c36'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59a1524ccea3f19243c37'), 'name': 'alex'},
 {'_id': ObjectId('64f59a1524ccea3f19243c38'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59d6524ccea3f19243c39'), 'name': 'alex'},
 {'_id': ObjectId('64f59d6524ccea3f19243c3a'), 'name': 'pepe', 'age': 12},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3b'), 'name': 'toni'},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3c'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3d'), 'name': 'toni'},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3e'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}}]

In [57]:
# Para insertar varias, es igual pero insertando una lista
test_col.insert_many([{'name':'alex'},{'name':'pepe','age':12}])

In [58]:
# Pueden tener diferentes longitudes
list(test_col.find())

[{'_id': ObjectId('64f5981524ccea3f19243c33'), 'name': 'pepe'},
 {'_id': ObjectId('64f598f624ccea3f19243c34'), 'name': 'toni'},
 {'_id': ObjectId('64f5999724ccea3f19243c35'), 'name': 'alex'},
 {'_id': ObjectId('64f5999724ccea3f19243c36'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59a1524ccea3f19243c37'), 'name': 'alex'},
 {'_id': ObjectId('64f59a1524ccea3f19243c38'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59d6524ccea3f19243c39'), 'name': 'alex'},
 {'_id': ObjectId('64f59d6524ccea3f19243c3a'), 'name': 'pepe', 'age': 12},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3b'), 'name': 'toni'},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3c'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3d'), 'name': 'toni'},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3e'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3f'), 'name': 'alex'},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c40'), 'name': 'pepe', 'age': 12}]

In [59]:
# SELECT * FROM test_col WHERE 'name' = 'pepe'

list(test_col.find(filter ={'name':'pepe'}))

[{'_id': ObjectId('64f5981524ccea3f19243c33'), 'name': 'pepe'},
 {'_id': ObjectId('64f59d6524ccea3f19243c3a'), 'name': 'pepe', 'age': 12},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3c'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3e'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c40'), 'name': 'pepe', 'age': 12}]

In [60]:
# SELECT edad FROM test_col WHERE 'name' = 'pepe'

list(test_col.find(filter ={'name':'pepe'}, projection = {'age' : True}))

[{'_id': ObjectId('64f5981524ccea3f19243c33')},
 {'_id': ObjectId('64f59d6524ccea3f19243c3a'), 'age': 12},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3c'),
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3e'),
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c40'), 'age': 12}]

In [61]:
# Hacerlo modo Jose Luis:
where = {}
select = {'id':False} # as no sale el id

list(test_col.find(where, select))

[{'_id': ObjectId('64f5981524ccea3f19243c33'), 'name': 'pepe'},
 {'_id': ObjectId('64f598f624ccea3f19243c34'), 'name': 'toni'},
 {'_id': ObjectId('64f5999724ccea3f19243c35'), 'name': 'alex'},
 {'_id': ObjectId('64f5999724ccea3f19243c36'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59a1524ccea3f19243c37'), 'name': 'alex'},
 {'_id': ObjectId('64f59a1524ccea3f19243c38'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59d6524ccea3f19243c39'), 'name': 'alex'},
 {'_id': ObjectId('64f59d6524ccea3f19243c3a'), 'name': 'pepe', 'age': 12},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3b'), 'name': 'toni'},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3c'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3d'), 'name': 'toni'},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3e'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3f'), 'name': 'alex'},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c40'), 'name': 'pepe', 'age': 12}]

In [62]:
where = {'name' : 'pepe','age':12} # por defecto, separarlo por comas es equivalente a un AND
select = {'id':False} # as no sale el id

list(test_col.find(where, select))

[{'_id': ObjectId('64f59d6524ccea3f19243c3a'), 'name': 'pepe', 'age': 12},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c40'), 'name': 'pepe', 'age': 12}]

In [63]:
# funcion para hacer queries:

def mongo_q(where,select):
        return list(test_col.find(where, select))

In [64]:
# Seleccionar solo los records que tengan 'age', sea cual sea.

where = {'age':{'$exists':1}} # La $ del dolar, en Mongo indica que es una funcin
select = {'id':0}
mongo_q(where,select)

[{'_id': ObjectId('64f5999724ccea3f19243c36'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59a1524ccea3f19243c38'), 'name': 'tim', 'age': 12},
 {'_id': ObjectId('64f59d6524ccea3f19243c3a'), 'name': 'pepe', 'age': 12},
 {'_id': ObjectId('64f5b0a924ccea3f19243c3c'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c3e'),
  'name': 'pepe',
  'age': {'amigos': 20, 'noamigos': 18}},
 {'_id': ObjectId('64f5b0ab24ccea3f19243c40'), 'name': 'pepe', 'age': 12}]

In [75]:
# Como hacer una query con OR

where = {'$or':[{'name' : 'pepe'},{'age':{'$lt':12}}]} 
select = {'_id':False}
mongo_q(where,select)

# SELECT ~id FROM text_col
# WHERE (age < 12) or (name = pepe)

[{'name': 'pepe'},
 {'name': 'pepe', 'age': 12},
 {'name': 'pepe', 'age': {'amigos': 20, 'noamigos': 18}},
 {'name': 'pepe', 'age': {'amigos': 20, 'noamigos': 18}},
 {'name': 'pepe', 'age': 12}]

In [74]:
# Como acceder a un diccionario, dentro de otro:

where = {'age.amigos':20} 
select = {'_id':0}
mongo_q(where,select)

[{'name': 'pepe', 'age': {'amigos': 20, 'noamigos': 18}},
 {'name': 'pepe', 'age': {'amigos': 20, 'noamigos': 18}}]

In [78]:
import json

with open('restaurants.json','r') as r:
    data = json.load(r)

In [81]:
restaurantes = mydb['restaurantes']

In [83]:
restaurantes.insert_many(data)

In [96]:
def get_rest(where,select):
    return list(restaurantes.find(where,select))

In [97]:
where = {'borough':'Bronx'}
select = {'name':1,'borough':1,'_id' : False}
list(restaurantes.find(where,select))

[{'borough': 'Bronx', 'name': 'Morris Park Bake Shop'},
 {'borough': 'Bronx', 'name': 'Wild Asia'},
 {'borough': 'Bronx', 'name': 'Carvel Ice Cream'},
 {'borough': 'Bronx', 'name': 'Happy Garden'},
 {'borough': 'Bronx', 'name': 'Happy Garden'},
 {'borough': 'Bronx', 'name': 'Manhem Club'},
 {'borough': 'Bronx', 'name': 'The New Starling Athletic Club Of The Bronx'},
 {'borough': 'Bronx', 'name': 'Yankee Tavern'},
 {'borough': 'Bronx', 'name': 'Mcdwyers Pub'},
 {'borough': 'Bronx', 'name': 'The Punch Bowl'},
 {'borough': 'Bronx', 'name': 'Munchtime'},
 {'borough': 'Bronx', 'name': 'Ihop'},
 {'borough': 'Bronx', 'name': "Lulu'S Coffee Shop"},
 {'borough': 'Bronx', 'name': 'Marina Delray'},
 {'borough': 'Bronx', 'name': "The Lark'S Nest"},
 {'borough': 'Bronx', 'name': 'Terrace Cafe'},
 {'borough': 'Bronx', 'name': 'African Terrace'},
 {'borough': 'Bronx', 'name': 'Cool Zone'},
 {'borough': 'Bronx', 'name': 'Beaver Pond'},
 {'borough': 'Bronx', 'name': 'African Market (Baboon Cafe)'},
 {'borough': 'Bronx', 'name': 'Blue Bay Restaurant'},
 {'borough': 'Bronx', 'name': 'Seashore Restaurant'},
 {'borough': 'Bronx', 'name': 'Bronx Grill'},
 {'borough': 'Bronx', 'name': "Johnny'S Reef Restaurant"},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': "P & K'S Grill"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': "John Mulligan'S Fireside Pub"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Yankee Jz Pizza'},
 {'borough': 'Bronx', 'name': 'Ihop'},
 {'borough': 'Bronx', 'name': "Tony'S Pier Restaurant"},
 {'borough': 'Bronx', 'name': 'Quality Cafe & Restaurant'},
 {'borough': 'Bronx', 'name': 'Sabrosura Restaurant'},
 {'borough': 'Bronx', 'name': "Jp'S Waterside Restaurant"},
 {'borough': 'Bronx', 'name': 'John & Joe Pizzeria & Restaurant'},
 {'borough': 'Bronx', 'name': "Tony'S Pizza"},
 {'borough': 'Bronx', 'name': "Dunkin' Donuts"},
 {'borough': 'Bronx', 'name': 'Aqueduct North'},
 {'borough': 'Bronx', 'name': 'Cuchifritos'},
 {'borough': 'Bronx', 'name': 'Riverdale Diner'},
 {'borough': 'Bronx', 'name': 'Castlehill Diner'},
 {'borough': 'Bronx', 'name': "Tommy'S Pizza"},
 {'borough': 'Bronx', 'name': "Mom'S Fried Chicken"},
 {'borough': 'Bronx', 'name': 'Short Stop Restaurant'},
 {'borough': 'Bronx', 'name': 'Burger Barn Restaurant'},
 {'borough': 'Bronx', 'name': 'Eastwood Manor'},
 {'borough': 'Bronx', 'name': "Ljubo'S Pizzeria"},
 {'borough': 'Bronx', 'name': "Wendy'S"},
 {'borough': 'Bronx', 'name': 'Venice Pizza'},
 {'borough': 'Bronx', 'name': "Frank'S Soup Bowl"},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': "Arturo'S Pizza"},
 {'borough': 'Bronx', 'name': 'Venice Restaurant'},
 {'borough': 'Bronx', 'name': 'Walnut Bus Stop'},
 {'borough': 'Bronx', 'name': "Wendy'S"},
 {'borough': 'Bronx', 'name': 'The Pizza Place'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'Isla Restauraunt'},
 {'borough': 'Bronx', 'name': "Spoto'S Restaurant"},
 {'borough': 'Bronx', 'name': 'Bagel Cafe'},
 {'borough': 'Bronx', 'name': "Vinny'S Famous Pizza"},
 {'borough': 'Bronx', 'name': "Rino'S"},
 {'borough': 'Bronx', 'name': 'Villa Barone Manor'},
 {'borough': 'Bronx', 'name': 'Loui Seafood'},
 {'borough': 'Bronx', 'name': "Gleason'S Cafe"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Fordham Seafood And Chicken'},
 {'borough': 'Bronx', 'name': 'Gun Post Lanes Snack Bar'},
 {'borough': 'Bronx', 'name': 'El Molino Rojo Restaurant'},
 {'borough': 'Bronx', 'name': "O'Brien'S Pub"},
 {'borough': 'Bronx', 'name': 'Tibbett Diner'},
 {'borough': 'Bronx', 'name': 'E & L Bakery & Coffee Shop'},
 {'borough': 'Bronx', 'name': 'Wembley Athletic Club'},
 {'borough': 'Bronx', 'name': "Cullen'S Tavern"},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Golden Pizza'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Chick-N-Ribs'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Pugsley Pizza'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': "Dominick'S Bar & Restaurant"},
 {'borough': 'Bronx', 'name': "Zaro'S Bread Basket"},
 {'borough': 'Bronx', 'name': 'La Lechonera Criolla'},
 {'borough': 'Bronx', 'name': 'Enzo Cafe'},
 {'borough': 'Bronx', 'name': "Joe'S Pizza"},
 {'borough': 'Bronx', 'name': "Lolita'S Restaurant"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Rolen Bagels'},
 {'borough': 'Bronx', 'name': 'Fordham Fried Chicken & Sea Food'},
 {'borough': 'Bronx', 'name': "Celeste'S Snack Bar"},
 {'borough': 'Bronx', 'name': 'Pelham Bay Diner'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Villa Barone'},
 {'borough': 'Bronx', 'name': 'Stuyvesant Yacht Club'},
 {'borough': 'Bronx', 'name': 'Riverdale Yacht Club'},
 {'borough': 'Bronx', 'name': 'Ambassador Diner'},
 {'borough': 'Bronx', 'name': 'Bagel Corner'},
 {'borough': 'Bronx', 'name': 'Kingston Tropical Bakery'},
 {'borough': 'Bronx', 'name': 'Concourse Jamaican Bakery'},
 {'borough': 'Bronx', 'name': 'Artuso Pastry Shop'},
 {'borough': 'Bronx', 'name': 'Champion Bakery'},
 {'borough': 'Bronx', 'name': 'Al Cholo Bakery'},
 {'borough': 'Bronx', 'name': 'Franco Bakery'},
 {'borough': 'Bronx', 'name': 'Biarritz Bakery'},
 {'borough': 'Bronx', 'name': "Jackie'S West Indian Bakery"},
 {'borough': 'Bronx', 'name': 'El Vaquero Barras'},
 {'borough': 'Bronx', 'name': 'China Wok Ii'},
 {'borough': 'Bronx', 'name': 'Pitusa Bakery'},
 {'borough': 'Bronx', 'name': 'Woodlawn Cafe'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'Crown Diner'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': "Artie'S"},
 {'borough': 'Bronx', 'name': 'Crosstown Diner'},
 {'borough': 'Bronx', 'name': "Catania'S Pizza Cafe"},
 {'borough': 'Bronx', 'name': "Jimmy Ryan'S"},
 {'borough': 'Bronx', 'name': 'Park Billiards'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Full Moon Pizza'},
 {'borough': 'Bronx', 'name': 'Capri Ii Pizza'},
 {'borough': 'Bronx', 'name': 'Dragon City'},
 {'borough': 'Bronx', 'name': 'Nacional Bakery #1'},
 {'borough': 'Bronx', 'name': 'New Pabellon De Oro Restaurant'},
 {'borough': 'Bronx', 'name': 'Cosmos Restaurant'},
 {'borough': 'Bronx', 'name': 'Bowler Land'},
 {'borough': 'Bronx', 'name': 'Feeding Tree Style West Indian Restaurant'},
 {'borough': 'Bronx', 'name': 'Rio Cobre Restaurant'},
 {'borough': 'Bronx', 'name': 'Pasta Pasta Restaurant'},
 {'borough': 'Bronx', 'name': "Ray'S Pizza Restuarant"},
 {'borough': 'Bronx', 'name': "Louie'Sdale Diner"},
 {'borough': 'Bronx', 'name': 'Montezuma Restaurant'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Carvel Ice Cream'},
 {'borough': 'Bronx', 'name': 'Hunan Balcony'},
 {'borough': 'Bronx', 'name': 'Great Wall Restaurant'},
 {'borough': 'Bronx', 'name': 'Boston Market'},
 {'borough': 'Bronx', 'name': 'La Bella Rosa Bakery'},
 {'borough': 'Bronx', 'name': 'Kennedy Fried Chicken'},
 {'borough': 'Bronx', 'name': 'La Isla Cuchifritos'},
 {'borough': 'Bronx', 'name': 'Keenans'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Caridad Restaurant'},
 {'borough': 'Bronx', 'name': 'Lena Restaurant'},
 {'borough': 'Bronx', 'name': 'La Perla Mexicana'},
 {'borough': 'Bronx', 'name': 'Sugar City Bakery'},
 {'borough': 'Bronx', 'name': "Lopez'S Pizzeria And Coffee Shop"},
 {'borough': 'Bronx', 'name': 'Glen Roy Bar And Grill'},
 {'borough': 'Bronx', 'name': 'An Beal Bocht Cafe'},
 {'borough': 'Bronx', 'name': 'Diamante Poblano Restaurant'},
 {'borough': 'Bronx', 'name': 'Archer Sports Bar'},
 {'borough': 'Bronx', 'name': 'Lucky House Restaurant'},
 {'borough': 'Bronx', 'name': 'Shamrock Inn'},
 {'borough': 'Bronx', 'name': 'New Wah Kitchen'},
 {'borough': 'Bronx', 'name': 'Crab Shanty'},
 {'borough': 'Bronx', 'name': 'Throgs Neck Clipper'},
 {'borough': 'Bronx', 'name': "Cafe Lou'S"},
 {'borough': 'Bronx', 'name': 'Barries Restaurant'},
 {'borough': 'Bronx', 'name': 'Giralda Bakery'},
 {'borough': 'Bronx', 'name': 'New Capital Restaurant'},
 {'borough': 'Bronx', 'name': 'Pelham Bake Shop'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Yolanda Pizzeria Restaurant'},
 {'borough': 'Bronx', 'name': 'Gyro King'},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': 'City Island Diner /Snug Bar'},
 {'borough': 'Bronx', 'name': "P.J. Brady'S Tavern"},
 {'borough': 'Bronx', 'name': 'Bedford Cafe & Restaurant'},
 {'borough': 'Bronx', 'name': 'Capri Pizza Restaurant'},
 {'borough': 'Bronx', 'name': 'Pasquale Rigoletto Restaurant'},
 {'borough': 'Bronx', 'name': 'Webster Cafe'},
 {'borough': 'Bronx', 'name': "Tony'S Pizza"},
 {'borough': 'Bronx', 'name': 'Caffe Egidio'},
 {'borough': 'Bronx', 'name': 'Black Whale'},
 {'borough': 'Bronx', 'name': 'Pizza Express'},
 {'borough': 'Bronx', 'name': "Billy'S Sport Bar Restaurant & Lounge"},
 {'borough': 'Bronx', 'name': 'Pizza Italia 1'},
 {'borough': 'Bronx', 'name': "Steve'S Bakery"},
 {'borough': 'Bronx', 'name': 'La Sabrosura'},
 {'borough': 'Bronx', 'name': 'Blimpie'},
 {'borough': 'Bronx', 'name': 'Los Girasoles Restaurant'},
 {'borough': 'Bronx', 'name': "Dunkin' Donuts"},
 {'borough': 'Bronx', 'name': 'Cafe Al Mercato'},
 {'borough': 'Bronx', 'name': "Sam'S Restaurant"},
 {'borough': 'Bronx', 'name': 'Riverdale Steak House'},
 {'borough': 'Bronx', 'name': 'Pepe Joes Pizzeria'},
 {'borough': 'Bronx', 'name': "Gino'S Pastry Shop"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': "Loeser'S Hebrew National"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Firozas Roti Bar'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Market Restaurant (C-D Block)'},
 {'borough': 'Bronx', 'name': "Behan'S Pub"},
 {'borough': 'Bronx', 'name': "Johnny'S O'S"},
 {'borough': 'Bronx', 'name': "Joe'S Place"},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': 'Bartow Pizza'},
 {'borough': 'Bronx', 'name': "Fella'S Bar"},
 {'borough': 'Bronx', 'name': 'Checkers'},
 {'borough': 'Bronx', 'name': "Sammy'S Fishbox"},
 {'borough': 'Bronx',
  'name': 'Snack Bar (Located Between A-B Between Fancy Food And Masters)'},
 {'borough': 'Bronx', 'name': "J.R'S Cabaret"},
 {'borough': 'Bronx', 'name': "Gary And Gino'S"},
 {'borough': 'Bronx', 'name': 'Parrilla Latina Steakhouse'},
 {'borough': 'Bronx', 'name': 'Nick Garden Coffee Shop'},
 {'borough': 'Bronx', 'name': 'Latino Restaurant'},
 {'borough': 'Bronx', 'name': 'New Hing Restaurant'},
 {'borough': 'Bronx', 'name': "Emilia'S Restaurant"},
 {'borough': 'Bronx', 'name': 'Mi Pueblito Bakery/Comida Tipica Mexicana'},
 {'borough': 'Bronx', 'name': 'The Barbecue Pit'},
 {'borough': 'Bronx', 'name': 'Pine Bar & Grill'},
 {'borough': 'Bronx', 'name': 'Prospect Coffee Shop'},
 {'borough': 'Bronx', 'name': 'Barnes & Noble Booksellers'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Market Place Pizza'},
 {'borough': 'Bronx', 'name': 'Jolly Tinker'},
 {'borough': 'Bronx', 'name': "Angelica'S Bakery"},
 {'borough': 'Bronx', 'name': "Captain'S Pizzeria And Restaurant"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Portofino Cafe'},
 {'borough': 'Bronx', 'name': "Ali'S Roti Shop"},
 {'borough': 'Bronx', 'name': "Teresa'S Gourmet"},
 {'borough': 'Bronx', 'name': "Susie'S Pies"},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': 'Picanteria El Botecito'},
 {'borough': 'Bronx', 'name': 'Nonis Coffee Shop'},
 {'borough': 'Bronx', 'name': 'Blue Diner'},
 {'borough': 'Bronx', 'name': "Applebee'S Neighborhood Grill & Bar"},
 {'borough': 'Bronx', 'name': 'Bally Total Fitness'},
 {'borough': 'Bronx', 'name': 'Morris Park Pizza'},
 {'borough': 'Bronx', 'name': 'Circle Pizzeria'},
 {'borough': 'Bronx', 'name': 'Bella Napoli'},
 {'borough': 'Bronx', 'name': 'Astral Fitness & Wellness'},
 {'borough': 'Bronx', 'name': 'Hong Kong Restaurant'},
 {'borough': 'Bronx', 'name': 'Caridad'},
 {'borough': 'Bronx', 'name': 'Dancing Crane Cafe (Bx Zoo)'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': 'Section 5 Pizza Restaurant'},
 {'borough': 'Bronx', 'name': 'Step In Restaurant & Lounge'},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': "Kristy'S Restaurant"},
 {'borough': 'Bronx', 'name': 'San German Cuchifrito'},
 {'borough': 'Bronx', 'name': 'J & J Restaurant & Cuchifritos'},
 {'borough': 'Bronx', 'name': 'Carvel Ice Cream'},
 {'borough': 'Bronx', 'name': 'Boulevard Tavern'},
 {'borough': 'Bronx', 'name': 'Shore Haven Diner'},
 {'borough': 'Bronx', 'name': "Jake'S Steakhouse"},
 {'borough': 'Bronx', 'name': "Madison'S"},
 {'borough': 'Bronx', 'name': 'East Dynasty'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': 'Ebe Ye Yie African Restaurant'},
 {'borough': 'Bronx', 'name': 'Malecon Restaurant'},
 {'borough': 'Bronx', 'name': 'City Island Deli'},
 {'borough': 'Bronx', 'name': 'Gurra Cafe'},
 {'borough': 'Bronx', 'name': 'Lin Home Chinese Restaura'},
 {'borough': 'Bronx', 'name': 'To Go Express'},
 {'borough': 'Bronx', 'name': 'Chirping Chicken'},
 {'borough': 'Bronx', 'name': 'Peacock Restaurant'},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': 'The Williamsbridge Tavern'},
 {'borough': 'Bronx', 'name': 'Vista Hermosa Deli Restaurant'},
 {'borough': 'Bronx', 'name': "Vivienne'S"},
 {'borough': 'Bronx', 'name': 'Starbucks Coffee'},
 {'borough': 'Bronx', 'name': "Lin'S Garden"},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': 'Casa Promesa'},
 {'borough': 'Bronx', 'name': 'Subway'},
 {'borough': 'Bronx', 'name': 'Shalon Restaurant'},
 {'borough': 'Bronx', 'name': 'Broadway Pizza & Pasta'},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': 'Burger King'},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': "Domino'S Pizza"},
 {'borough': 'Bronx', 'name': 'Mi Sueno Restaurant'},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': "Mcdonald'S"},
 {'borough': 'Bronx', 'name': "Mr Mcgoo'S"},
 {'borough': 'Bronx', 'name': 'El Buen Ambiente'},
 {'borough': 'Bronx', 'name': 'Popeyes Chicken & Biscuits'},
 {'borough': 'Bronx', 'name': 'Liberato Restaurant'},
 {'borough': 'Bronx', 'name': 'Wilbel Pizza'},
 {'borough': 'Bronx', 'name': 'Fordham University - Mcginley Center'},
 {'borough': 'Bronx',
  'name': 'Fordham University/Mcginley Center/Ramskeller Kitchen'},
 {'borough': 'Bronx', 'name': 'Seafood  City'},
 {'borough': 'Bronx', 'name': 'Carvel'},
 {'borough': 'Bronx', 'name': 'Fordham University - Millenium Grill'},
 {'borough': 'Bronx', 'name': 'Fordham University - Student Deli'},
 {'borough': 'Bronx', 'name': 'La Nueva Giralda Bakery'},
 {'borough': 'Bronx', 'name': 'Sheas Emerald'},
 {'borough': 'Bronx', 'name': 'Memories Lounge'},
 {'borough': 'Bronx', 'name': 'Roca Tone Seafood Restaurant'},
 {'borough': 'Bronx', 'name': 'The Best Italian Pizza'},
 {'borough': 'Bronx', 'name': 'J.E. Bakery'},
 {'borough': 'Bronx', 'name': 'Cea Lo Cafe'},
 {'borough': 'Bronx', 'name': "Mug-Z'S Sports Bar"},
 {'borough': 'Bronx', 'name': "Frank'S Pizzeria"},
 {'borough': 'Bronx', 'name': 'Nb. National Bakery'},
 {'borough': 'Bronx', 'name': 'New Rainbow Restaurant'}]

In [99]:
where = {'borough':'Bronx','name':'Happy Garden'}
select = {'name':1,'borough':1,'address':1,'_id' : False}
get_rest(where,select)

[{'address': {'building': '1236',
   'coord': [-73.8893654, 40.81376179999999],
   'street': '238 Spofford Ave',
   'zipcode': '10474'},
  'borough': 'Bronx',
  'name': 'Happy Garden'},
 {'address': {'building': '277',
   'coord': [-73.8941893, 40.8634684],
   'street': 'East Kingsbridge Road',
   'zipcode': '10458'},
  'borough': 'Bronx',
  'name': 'Happy Garden'}]

In [106]:
# where = {'$or':[{'name':'Happy Garden'},{'name':'White Castle'}]}
where = {'name':
            {'$in':['Happy Garden','White Castle']}}
select = {'name':1,'borough':1,'_id' : False}
get_rest(where,select)

[{'borough': 'Brooklyn', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'Happy Garden'},
 {'borough': 'Bronx', 'name': 'Happy Garden'},
 {'borough': 'Brooklyn', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Queens', 'name': 'White Castle'},
 {'borough': 'Brooklyn', 'name': 'White Castle'},
 {'borough': 'Brooklyn', 'name': 'White Castle'},
 {'borough': 'Queens', 'name': 'White Castle'},
 {'borough': 'Brooklyn', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Brooklyn', 'name': 'White Castle'},
 {'borough': 'Queens', 'name': 'White Castle'},
 {'borough': 'Queens', 'name': 'White Castle'},
 {'borough': 'Brooklyn', 'name': 'White Castle'},
 {'borough': 'Queens', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Queens', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Staten Island', 'name': 'White Castle'},
 {'borough': 'Manhattan', 'name': 'White Castle'},
 {'borough': 'Manhattan', 'name': 'White Castle'},
 {'borough': 'Bronx', 'name': 'White Castle'},
 {'borough': 'Queens', 'name': 'White Castle'},
 {'borough': 'Manhattan', 'name': 'White Castle'},
 {'borough': 'Brooklyn', 'name': 'White Castle'}]