![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]

In [2]:
ejer_1[::1]

[1, 2, 3, 4, 5]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [3]:
ejer_2 = [1,2,3,4,5]
for numero in ejer_2:
    print(numero **2)

1
4
9
16
25

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [7]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

nueva_lista = []

for cosa1 in ejer_3_1:
    for cosa2 in ejer_3_2:
        nueva_lista.append(cosa1 + " " +cosa2)

nueva_lista

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [9]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
valor_a_buscar = 45
valor_sustituto = 0



indice = ejer_4.index(valor_a_buscar)
ejer_4[indice] = valor_sustituto
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

In [14]:
if 1/0:
    print("Hola")

ZeroDivisionError: division by zero

In [10]:
def susti(lista, valor_a_buscar, valor_sustituto):
    if valor_a_buscar in lista:
        indice = lista.index(valor_a_buscar)
        lista[indice] = valor_sustituto
        return lista
    else:
        return lista

In [13]:
# ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
susti(ejer_4, valor_a_buscar, valor_sustituto)

ValueError: 45 is not in list

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [17]:
[x for x in ejer_5 if x != 3]

[20, 47, 19, 29, 45, 67, 78, 90]

In [15]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
while True:
    if 3 in ejer_5:
        ejer_5.remove(3)
    else:
        break

In [16]:
ejer_5

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [4]:
tup = (3,2,1)

In [6]:
tup2 = (6,)
print(type(tup2[0]))

<class 'int'>

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [7]:
ejer_7 = ("cien", "cañones", "por", "banda")
" ".join(ejer_7)

'cien cañones por banda'

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [8]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
ejer_8[2], ejer_8[-3]

(3, 90)

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [11]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
ejer_9.count(3)

7

In [14]:
nueva_9 = ejer_9[5:11]
nueva_9

(3, 29, 45, 67, 78, 90)

In [15]:
len(nueva_9)

6

In [16]:
60 in nueva_9

False

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [20]:
ejer_10 = list(ejer_9)
ejer_10

[3,
 20,
 3,
 47,
 19,
 3,
 29,
 45,
 67,
 78,
 90,
 3,
 3,
 5,
 2,
 4,
 7,
 9,
 4,
 2,
 4,
 3,
 3,
 4,
 6,
 7]

In [19]:
ejer_10 = set(ejer_9)
ejer_10

(3,
 20,
 3,
 47,
 19,
 3,
 29,
 45,
 67,
 78,
 90,
 3,
 3,
 5,
 2,
 4,
 7,
 9,
 4,
 2,
 4,
 3,
 3,
 4,
 6,
 7)

In [24]:
ejer_10_dict = {}
for indice, cosa in enumerate(ejer_9):
    ejer_10_dict[indice] = cosa

ejer_10_dict

{0: 3,
 1: 20,
 2: 3,
 3: 47,
 4: 19,
 5: 3,
 6: 29,
 7: 45,
 8: 67,
 9: 78,
 10: 90,
 11: 3,
 12: 3,
 13: 5,
 14: 2,
 15: 4,
 16: 7,
 17: 9,
 18: 4,
 19: 2,
 20: 4,
 21: 3,
 22: 3,
 23: 4,
 24: 6,
 25: 7}

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [21]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccio = {}
for key, value in ejer_11:
    if key in diccio:
        diccio[key].append(value)
    else:
        diccio[key] = [value]

diccio

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [22]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}

In [23]:
sorted(ejer_12.keys())

[2, 4, 5, 8]

In [25]:
sorted(ejer_12.values(), reverse=True)

[234, 98, 78, 29]

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [25]:
ejer_13_1 = {1: 11, 2: 22}
ejer_13_2 = {3: 33, 4: 44}

In [26]:
ejer_13_1.update(ejer_13_2)

In [27]:
ejer_13_1

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [28]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
sum(ejer_14.values())

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [27]:
import math

19326120

In [29]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

math.prod(ejer_15.values())
n = 1
for key, numerin in ejer_15.items():
    n *= numerin
n

19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [30]:
a = set((1,2,3))

In [32]:
a.add(4)

In [3]:
a.pop()

1

In [5]:
a.discard(10)

In [6]:
a

{3}