<H3>SQLITE<H3>

>- create : se ejecuta
>
>- insert: se ejecuta + commit
>
>- select: se ejecuta + fetchall

In [3]:
import sqlite3
import os

In [2]:
os.getcwd()

'c:\\Users\\funny\\Desktop\\Bootcamp\\mesa_trabajo_core\\repo_sept_23\\6-Bases_de_datos\\SQL'

In [3]:
con = sqlite3.connect(r'.\bases.datos\sqlite_db_test.db')

In [4]:

query = '''

CREATE TABLE IF NOT EXISTS projects (
    id integer PRIMARY KEY,
    name text NOT NULL,
    begin_date text,
    end_date text
);

'''

In [5]:

cursor = con.cursor()
cursor.execute (query)

In [ ]:
query = '''
INSERT INTO projects (id,name,begin_date,end_date)
values (1,Juan','bla','blabla');

'''
cursor = con.cursor()
cursor.execute (query)

con.commit()

In [ ]:

query = '''
SELECT * FROM projects;

'''
cursor = con.cursor()
cursor.execute (query)

In [ ]:


rows= cursor.fetchall()

for row in rows:
    print(row)

(1, 'Juan', 'bla', 'blabla')

<H3> Lo de antes era dolor, ahora amor<H3>

In [ ]:
#!pip install sqlalchemy

Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/28/53/66f4b35a22483c7cf5ae18a7f07655b32a249c8279364bd8cf29a8c8d2ec/SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl.metadata (9.7 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\funny\anaconda3\envs\eda_env\lib\site-packages (from sqlalchemy) (4.8.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/61/ad/94208c68fa3c80d407adafb940269f15523584c61ac2c6e7cd21af3cab71/greenlet-3.0.0-cp39-cp39-win_amd64.whl.metadata
  Downloading greenlet-3.0.0-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.22-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 825.8 kB/s eta 0:00:03
   ------- -------------------------------- 0.4/2.1 MB 3.6 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 6.4 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 6.3 MB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.1 MB 8.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 7.3 MB/s eta 0:00:00
Downloading greenlet-3.0.0-cp39-cp39-win_amd64.whl (286 kB)
   ---------------------------------------- 0.0/286.9 kB ? eta -:--:--
   ---------------------------------------- 286.9/286.9 kB 8.9 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.0 sqlalchemy-2.0.22

In [4]:
from sqlalchemy import create_engine, text

In [8]:

engine = create_engine('sqlite:///./bases.datos/sqlite_db_test.db')

In [13]:
import pandas as pd
data = pd.DataFrame({
'id':[1],
'name':['Juan'],
'begin_date':['bla'],
'end_date':['blabla']
})
data = data.set_index('id')
data

    name begin_date end_date
id
1   Juan        bla   blabla

In [ ]:
data.to_sql('project2', con=engine)

In [16]:

data.to_sql('project2', con=engine, if_exists = 'append')

1

In [18]:

query = '''select * from project2'''

pd.read_sql(query,con=engine,index_col='id')

    name begin_date end_date
id
1   Juan        bla   blabla
1   Juan        bla   blabla

<H3>MYSQL<H3>

In [ ]:

host = "db4free.net"
port = 3306
user = "mysqlthebridge"
password = "mysqlpass_1!"
db = "my_db_thebridge"

In [20]:
#!pip install mysqlclient

Collecting mysqlclient
  Obtaining dependency information for mysqlclient from https://files.pythonhosted.org/packages/79/bb/5f9eec6eabe12240e1bb5001630b65fa4a1e43b49139f6248b0ba4afba4b/mysqlclient-2.2.0-cp39-cp39-win_amd64.whl.metadata
  Downloading mysqlclient-2.2.0-cp39-cp39-win_amd64.whl.metadata (4.5 kB)
Downloading mysqlclient-2.2.0-cp39-cp39-win_amd64.whl (200 kB)
   ---------------------------------------- 0.0/200.1 kB ? eta -:--:--
   ---------------------------------------- 0.0/200.1 kB ? eta -:--:--
   ----- --------------------------------- 30.7/200.1 kB 640.0 kB/s eta 0:00:01
   -------------------------------------- - 194.6/200.1 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 200.1/200.1 kB 2.0 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.0

In [21]:

engine = create_engine('mysql://mysqlthebridge:mysqlpass_1!@db4free.net:3306/my_db_thebridge')

In [35]:
query = '''select * from test'''

trabajo = pd.read_sql(query,con=engine)
trabajo

   a  b
0  1  4
1  2  5
2  3  6

In [36]:
trabajo['c']=['Hola','cara','cola']
trabajo

   a  b     c
0  1  4  Hola
1  2  5  cara
2  3  6  cola

In [29]:
trabajo.to_sql('test', con=engine, if_exists = 'append',index=False)

OperationalError: (MySQLdb.OperationalError) (1054, "Unknown column 'c' in 'field list'")
[SQL: INSERT INTO test (`index`, a, b, c) VALUES (%s, %s, %s, %s)]
[parameters: [(0, 1, 3, 'Hola'), (1, 2, 3, 'cara'), (2, 3, 3, 'cola')]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [37]:
data = pd.DataFrame({'a':[5],'b':[6]})
data.to_sql('test', con=engine, if_exists = 'append',index=False) 
pd.read_sql(query,con=engine)

   a  b
0  1  4
1  2  5
2  3  6
3  4  7
4  5  6

<H4>POSTGRESQL<H4>

In [38]:
#!pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/cb/35/009b43d67a7010b789690a46d49521fd435ce33ce722fe8d7ac7efe35c21/psycopg2_binary-2.9.9-cp39-cp39-win_amd64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp39-cp39-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp39-cp39-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   -- ------------------------------------- 0.1/1.2 MB 907.3 kB/s eta 0:00:02
   --------------- ------------------------ 0.5/1.2 MB 3.5 MB/s eta 0:00:01
   -------------------------------- ------- 1.0/1.2 MB 5.5 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 5.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [7]:
churro = "postgresql://postgres:postgres@34.78.144.175/postgres"

In [8]:
engine = create_engine(churro)

In [11]:
query = '''select * from tablita'''

pd.read_sql(query,con=engine)

,index,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

In [44]:
data = pd.DataFrame({'a':[5,7],'b':['Hola','Caracola']})
data.to_sql('test', con=engine, if_exists = 'append',index=False) 
df = pd.read_sql(query,con=engine)
df

   a          b
0  1    tuprima
1  2    tuprima
2  3    tuprima
3  4  tusprimas
4  5  tusprimas
5  5       Hola
6  7   Caracola
7  5       Hola
8  7   Caracola

In [45]:
df = df.drop(2)

   a          b
0  1    tuprima
1  2    tuprima
3  4  tusprimas
4  5  tusprimas
5  5       Hola
6  7   Caracola
7  5       Hola
8  7   Caracola

In [ ]:
df.to_sql('test', con=engine, if_exists = 'replace',index=False)